.wrap {
	position: relative;
	@include d_f(flex);
	flex-direction: column;
	flex: 1 1 100%;
	width: 100%;
	height: 100%;
}

.home {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	// .home_bg
	&_bg {
		width: 100%;
		height: 100%;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url("../images/home.png") no-repeat center/cover;
			transition-duration: 1s;
			transform: scale(1);
			transform-origin: center;
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			background: rgba(255, 255, 255, 0.45);
			backdrop-filter: blur(5px);
			transition-duration: 1s;
			opacity: 0;
		}
		.active & {
			&::before {
				animation: homeAni 1s forwards;
			}
			&::after {
				opacity: 1;
			}
		}
	}
	// .home_lion
	&_lion {
		position: absolute;
		left: 0;
		bottom: 0;
		width: auto;
		max-width: 1245px;
		height: 694px;
	}

	&:after {
		content: "";
		position: absolute;
		left: 0;
		bottom: -330px;
		width: 100%;
		height: 765px;
		background: linear-gradient(
			0deg,
			#000 0%,
			rgba(0, 0, 0, 0.43) 60.42%,
			rgba(0, 0, 0, 0) 100%
		);
	}
}

@keyframes homeAni {
	0% {
		transform: scale(1);
	}
	60% {
		transform: scale(1.3);
	}
	100% {
		transform: scale(1.25);
	}
}
