.gallery {
	background-color: #171717;
	// .gallery_first
	&_first {
		padding: 142px 0 174px;
		background: url("../images/gallery/background_1.png") no-repeat center
			bottom/cover;
	}
	// .gallery_txt
	&_txt {
		max-width: 740px;
		margin: 12px auto 0;
		color: #fff;
		font-size: 12px;
		font-style: normal;
		font-weight: 300;
		line-height: 140%;
		text-align: center;
	}
	// .gallery_video
	&_video {
		max-width: 1278px;
		height: 675px;
		margin: 131px auto 0;
		background-color: #000;
		color: #fff;

		& + h4 {
			margin-top: 204px;
		}
	}
	// .gallery_sec
	// .gallery_forth
	&_sec,
	&_forth {
		padding: 0 20px;
	}
	// .gallery_swiper
	&_swiper {
		position: relative;
		max-width: 1437px;
		margin: auto;
		// .gallery_swiper_box
		&_box {
			overflow: hidden;
			width: calc(100% - 66px);
			max-width: 1277px;
			margin: auto;
			padding: 38px 0;
		}
		// .gallery_swiper_group
		&_group {
			@include d_f(flex);
			// transform: translateX(-100%);
			@extend %transition;
		}
		// .gallery_swiper_item
		&_item {
			position: relative;
			flex: none;
			width: calc(100% / 4 - 17.25px);
			max-width: 320px;
			margin-right: 23px;
			background-color: #ccc;
			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(
					0deg,
					rgba(23, 23, 23, 0.7) 0%,
					rgba(23, 23, 23, 0.7) 100%
				);
				@extend %transition;
			}
			@include hoverHandler {
				&:after {
					opacity: 0;
				}
			}
			&:nth-child(odd) {
				transform: translateY(38px);
			}
			&:nth-child(even) {
				transform: translateY(-38px);
			}
			&:nth-child(4n) {
				margin-right: 0;
			}
		}
		// .gallery_swiper_btn
		&_btn {
			position: absolute;
			top: -182px;
			bottom: 0;
			flex: none;
			width: 13px;
			height: 22px;
			margin: auto 0;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
			filter: invert(1);
			@extend %hand;
			&._prev {
				left: 0;
				background-image: url("../images/icon/icon_arr_left.svg");
			}
			&._next {
				right: 0;
				background-image: url("../images/icon/icon_arr_right.svg");
			}
		}
		.dots {
			margin-top: 182px;
		}
	}
	// .gallery_photo
	&_photo {
		@include d_f(flex);
		flex-wrap: wrap;
		max-width: 1087px;
		margin: auto;
		.gallery_swiper + & {
			margin-top: 204px;
		}
		// .gallery_photo_item
		&_item {
			flex: none;
			width: calc(100% / 3 - 70px / 3);
			max-width: 339px;
			margin-bottom: 38px;
			&:not(:nth-child(3n)) {
				margin-right: 35px;
			}
		}
	}
	// .gallery_third
	&_third {
		margin-top: 199px;
		padding-top: 161px;
		padding-bottom: 158px;
		background: url("../images/gallery/background_1.png") no-repeat center
			bottom/cover;
	}
}
