h2 {
	color: #333;
	text-align: center;
	font-family: Noto Sans;
	font-size: 42px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
h3 {
	color: #333;
	text-align: center;
	font-family: Noto Sans;
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
.fz26px {
	color: #333;
	text-align: center;
	font-family: Noto Sans;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: 160%;
}
.fz14px {
	font-family: Noto Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.border_btn {
	@include d_f(flex, space-between, center);
	padding: 6px 20px;
	border-radius: 100px;
	border: 2px solid #333;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	color: #333;
	@extend %hand;
	@extend %transition;
	&:after {
		content: "";
		flex: none;
		display: block;
		width: 12px;
		height: 12px;
		margin-left: 10px;
		background: url("../images/icon/icon_arr_down.svg") no-repeat
			center/contain;
		filter: invert(16%) sepia(21%) saturate(0%) hue-rotate(245deg)
			brightness(95%) contrast(87%);
		@extend %transition;
	}

	.banner_txt & {
		margin-top: 48px;
	}
	@include hoverHandler {
		background-color: #0d0d0d;
		color: #fff;
		border-color: #0d0d0d;
		&:after {
			filter: invert(1);
		}
	}
}
.wrap {
	position: relative;
	@include d_f(flex);
	flex-direction: column;
	flex: 1 1 100%;
	width: 100%;
	height: 100%;
}
.container {
	width: 100%;
	max-width: 1280px;
	margin: auto;
}
.header {
	position: fixed;
	top: 0;
	left: 0;
	@include d_f(flex, none, center);
	width: 100%;
	height: 98px;
	padding: 0 55px;
	background-color: #fff;
	box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.07);
	z-index: 99;
	@include mw(L) {
		justify-content: space-between;
		height: 54px;
		padding: 0 12px;
	}
}
.footer {
	padding: 83px 149px 96px;
	background-color: #171717;
	// .footer_box
	&_box {
		border-top: 1px solid #fff;
	}
	// .footer_nav
	&_nav {
		position: relative;
		@include d_f(flex, center, center);
		padding: 24px 0;
		color: #fff;
		// .footer_nav_item
		&_item {
			font-family: Noto Sans;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			& + & {
				margin-left: 48px;
			}
		}
		// .footer_nav_icon
		&_icon {
			width: 26px;
			height: 26px;

			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			@extend %hand;
			&._fb {
				position: absolute;
				right: 36px;
				// margin-left: auto;
				background-image: url("../images/icon/icon_fb.svg");
			}
			&._ig {
				position: absolute;
				right: 0;
				margin-left: 10px;
				background-image: url("../images/icon/icon_ig.svg");
			}
		}
	}

	.copyRight {
		text-align: center;
		color: #fff;
		font-family: Arial;
		font-size: 12px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
}
.lang {
	position: relative;
	@include d_f(flex, center);
	margin-left: auto;
	@include mw(L) {
		order: -1;
		margin-left: 0;
	}
	// .lang_btn
	&_btn {
		display: block;
		width: 28px;
		height: 28px;
		background: url("../images/icon/icon_lang.svg") no-repeat center/contain;
		@extend %hand;
	}
	// .lang_group
	&_group {
		display: none;
		position: absolute;
		top: calc(100% + 55px);
		width: 130px;
		@include mw(L) {
			top: calc(100% + 25px);
		}
		.show_lang & {
			display: block;
		}
		li {
			@include d_f(flex, center, center);
			height: 42px;
			color: #333;
			font-family: Noto Sans;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			background-color: #fff;
			&.on {
				font-weight: 700;
			}
		}
	}
}
.logo {
	flex: none;
	width: 244px;
	margin-right: 79px;
	border-right: 1px solid #000;
	@include mw(L) {
		width: 132px;
		margin-right: 0;
		border-right: none;
	}
}
.nav {
	@include d_f(flex, none, center);
	width: 100%;
	height: 100%;
	padding: 10px 0;
	@include mw(L) {
		position: absolute;
		top: 54px;
		left: 0;
		align-items: flex-start;
		flex-direction: column;
		height: 100vh;
		padding: 10px 0;
		background-color: #f4f4f4;
	}

	// .nav_item
	&_item {
		position: relative;
		@include d_f(flex, none, center);
		flex-direction: column;
		font-family: Noto Sans;
		font-size: 18px;
		font-style: normal;
		font-weight: 500;
		color: rgba(0, 0, 0, 1);
		@include mw(L) {
			align-items: flex-start;
			width: 100%;
			&:after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 22px;
				width: calc(100% - 44px);
				height: 1px;
				background-color: #979797;
				margin: auto;
			}
			@at-root .on > .nav_sec {
				display: block;
			}
		}
		// .nav_item_title
		&_title {
			position: relative;
			color: rgba(0, 0, 0, 1);
			@extend %transition;
			@include mw(L) {
				margin-left: 42px;
				padding: 26px 0;
			}
			&:after {
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				width: 0;
				height: 1px;
				margin: auto 0;
				background-color: rgba(0, 0, 0, 0.5);
				@extend %transition;

				.on & {
					width: 100%;
					background-color: rgba(0, 0, 0, 1);
				}
			}
		}

		@extend %hand;
		@extend %transition;

		& + & {
			margin-left: 87px;
			@include mw(L) {
				margin-left: 0;
			}
		}
		@include hoverHandler {
			.nav_item_title {
				color: rgba(0, 0, 0, 0.5);
			}
			.nav_item_title:after {
				width: 100%;
			}
		}

		@include minmw(L) {
			@include hoverHandler {
				& > .nav_sec {
					display: block;
				}
			}
		}
	}

	// .nav_btn
	&_btn {
		position: relative;
		display: none;
		width: 17px;
		height: 13px;
		@include mw(L) {
			display: block;
		}
		// .nav_btn_line
		&_line {
			display: block;
			width: 17px;
			height: 1px;
			background-color: #333;
			border-radius: 100%;
			&::before,
			&:after {
				content: "";
				position: absolute;
				left: 0;
				display: block;
				width: 17px;
				height: 1px;
				background-color: #333;
				border-radius: 100%;
			}
			&::before {
				top: 0;
			}
			&:after {
				bottom: 0;
			}
		}
	}

	// .nav_sec
	&_sec {
		position: absolute;
		display: none;
		margin: auto;
		padding-top: 80px;
		border-radius: 8px;
		@include mw(L) {
			position: relative;
			display: none;
			width: 100%;
			padding-top: 0;
		}
		// .nav_sec_item
		&_item {
			position: relative;
			min-width: 127px;

			white-space: nowrap;
			background-color: #171717;
			@include minmw(L) {
				padding: 0 14px;
				text-align: center;
				&:first-child {
					padding-top: 14px;
					border-top-right-radius: 8px;
					border-top-left-radius: 8px;
					&::before {
						content: "";
						position: absolute;
						left: 0;
						right: 0;
						top: 0;
						width: 23px;
						height: 14px;
						margin: auto;
						background: url("../images/icon/icon_trangle_top.svg")
							no-repeat center/contain;
						transform: translateY(-100%);
					}
				}
				&:last-child {
					padding-bottom: 14px;
					border-bottom-right-radius: 8px;
					border-bottom-left-radius: 8px;
				}
			}

			@include mw(L) {
				width: 100%;
				&:after {
					content: "";
					position: absolute;
					left: 22px;
					bottom: 0;
					display: block;
					width: calc(100% - 44px);
					height: 1px;
					background-color: #fff;
				}
			}
		}
		// .nav_sec_link
		&_link {
			position: relative;
			display: block;
			padding: 14px 20px;
			color: rgba(255, 255, 255, 1);
			@extend %hand;
			@extend %transition;

			@include mw(L) {
				margin-left: 56px;
				padding: 26px 0;
				&::before {
					content: "・";
				}
			}
			&:after {
				content: "";
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				width: 0;
				height: 1px;
				margin: auto 0;
				background-color: rgba(0, 0, 0, 0.5);
				@extend %transition;
			}
			@include hoverHandler {
				color: rgba(255, 255, 255, 0.5);
				&:after {
					width: 100%;
				}
			}
		}
	}
}

.home {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	// .home_bg
	&_bg {
		width: 100%;
		height: 100%;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url("../images/home.png") no-repeat center/cover;
			transition-duration: 1s;
			transform: scale(1);
			transform-origin: center;
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
			background: rgba(255, 255, 255, 0.45);
			backdrop-filter: blur(5px);
			transition-duration: 1s;
			opacity: 0;
		}
		.active & {
			&::before {
				animation: homeAni 1s forwards;
			}
			&::after {
				opacity: 1;
			}
		}
	}
	// .home_lion
	&_lion {
		position: absolute;
		left: 0;
		bottom: 0;
		@include d_f(flex, none, flex-end);
		width: 50%;
		max-width: 985px;
		max-height: 694px;
		padding-bottom: calc(50% * 0.704);
		transition-duration: 1s;

		.mouseL & {
			transform: translate(-20px, 0);
		}
		.mouseR & {
			transform: translate(20px, 0);
		}
		.mouseB & {
			transform: translate(0, 40px);
		}
		.mouseT & {
			transform: translate(0, 0) scale(1.05);
		}
		img {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
		}
	}

	&:after {
		content: "";
		position: absolute;
		left: 0;
		bottom: -330px;
		width: 100%;
		height: 765px;
		background: linear-gradient(
			0deg,
			#000 0%,
			rgba(0, 0, 0, 0.43) 60.42%,
			rgba(0, 0, 0, 0) 100%
		);
	}
}

.banner {
	position: relative;
	// .banner_txt
	&_txt {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		@include d_f(flex, center, center);
		flex-direction: column;
		margin: 0 auto;

		// .banner_txt_rule
		&_rule {
			max-width: 1278px;
			white-space: pre-line;
			text-align: center;
		}
	}
}
