.product {
	padding: 80px 0 0;
	&._parfums {
		background: url("../images/product_parfums/background.png") no-repeat
			center bottom/contain;
	}

	// .product_txt
	&_txt {
		max-width: 1278px;
		margin: auto;
		color: #595959;
		text-align: center;

		span {
			display: inline-block;
		}
		span:first-child {
			display: block;
		}
		span + span {
			margin-top: 5px;
		}
		@include mw(S) {
			.dot {
				display: none;
			}
			span:nth-child(4) {
				display: block;
			}
		}
	}
	// .product_group
	&_group {
		@include d_f(flex, space-between);
		flex-wrap: wrap;
		max-width: 1094px;
		margin: auto;

		h1 + & {
			margin-top: 90px;
		}
	}
	// .product_item
	&_item {
		width: calc(100% / 2 - 71px);
		&:nth-child(even) {
			margin-left: 142px;
		}
		// .product_item_head
		&_head {
			@include d_f(flex, space-between, center);
			margin: auto;
			padding: 0 20px;
		}
		// .product_item_name
		&_name {
			color: #595959;
			text-align: left;
			&:after {
				content: attr(data-en);
				display: block;
			}
		}
		// .product_item_ml
		&_ml {
			@include d_f(inline-flex, none, flex-end);
			flex-direction: column;
			&::before {
				content: attr(data-no);
				display: none;
				margin-bottom: 14px;
				padding: 5px 12px;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
			}
			&._no::before {
				display: block;
			}
			&::after {
				content: attr(data-txt);
				padding: 5px 12px;
				border-radius: 100px;
				background: #efefef;
			}
		}
		// .product_item_pic
		&_pic {
			width: 367px;
			margin: auto;
		}
		// .product_item_detail
		&_detail {
			@include d_f(flex, none, center);
			margin-top: 8px;
			margin-bottom: 138px;
			padding: 9px 0;
			li {
				&:nth-child(1) {
					position: relative;
					padding-right: 28px;
					white-space: nowrap;
					font-size: 16px;
					font-style: normal;
					font-weight: 400;
					line-height: 160%; /* 25.6px */
					@include mw(L) {
						font-size: 14px;
					}
					&::after {
						content: "";
						position: absolute;
						top: -9px;
						right: 0;
						width: 1px;
						height: calc(100% + 18px);
						background-color: #d9d9d9;
					}
				}
				&:nth-child(2) {
					padding-left: 28px;
					font-size: 12px;
					font-family: Noto Sans;
					font-size: 12px;
					font-style: normal;
					font-weight: 400;
					line-height: 170.7%; /* 20.484px */
				}
			}
		}
	}
	// .product_pic
	&_pic {
		position: relative;
		@include d_f(flex, center, center);
		max-width: 1294px;
		margin: auto;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5);
		}
		// .product_pic_txt
		&_txt {
			position: absolute;
			width: 100%;
			max-width: 680px;
			margin: auto;
			color: #fff;
			&::before,
			&::after {
				content: "";
				position: absolute;
				display: block;
				width: 51px;
				height: 44px;
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
			}
			&::before {
				background-image: url("../images/icon/icon_dot_down.svg");
				transform: translateX(-100%);
			}
			&::after {
				right: 0;
				background-image: url("../images/icon/icon_dot_top.svg");
				transform: translateX(100%);
			}
		}
	}
}
